/*
This file is a part of GlitchBuddy.com
(C) GlitchBuddy
*/

@font-face {
  font-family: "GlitchPixel";
  src: url("/resources/fonts/glitchpixel.woff2") format("woff2");
}

@font-face {
  font-family: "GlitchPixelMini";
  src: url("/resources/fonts/glitchpixelmini.woff2") format("woff2");
}

body {
  background-color: #202020;
  color: #00c9fd;
  font-family: GlitchPixelMini, sans-serif;
  margin-left: 100px;
  margin-right: 250px;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 32px;
}

nav a {
  color: #b9b9b9;
  padding-left: 0px;
  padding-right: 16px;
  text-decoration: none;
}

nav a:visited {color: #b9b9b9;}
nav a:hover {color: #878787;}

h1 {
  font-family: GlitchPixel, sans-serif;
}

footer {
  font-size: 24px;
}

a:link {color: #ff9900;}
a:visited {color: #ca87ff;}

/* Additional rules for mobile devices */
@media screen and (max-width: 800px) {

  body {
    margin: 10px;
    margin-top: 30px;
  }

}
